body {
    margin: 0 0 0 0;
    background: url('../resources/background.png');
    background-size: cover;
}

.game {
    height: 80%;
    width: 100%;
}

.playArea {
    width: 80%;
    margin: 6% auto;
}

.player {
    width: 100%;
}

.table {
    display: inline-block;
    vertical-align: middle;
    height: 120pt;
    margin: 0 10pt 0 2pt;
    min-width: 18%;
}

.button {
    border: 3pt solid #488;
    border-radius: 4pt;
    padding: 4pt 14pt;
    margin: 4pt 14pt;
    background-color: white;

    font-size: 14pt;
}

.hand {
    display: inline-block;
    vertical-align: middle;
    height: 120pt;
    overflow-x: hidden;
}

.card {
    display: inline-block;
    vertical-align: middle;
    margin: 2pt 2pt 2pt 2pt;
    height: 110pt;
    width: 68pt;

    border: 3pt solid #488;
    border-radius: 4pt;
    
    background-color: white;
    background-size: cover;
}

.manyCards {
    margin: 2pt 0 0 0;
    width: 6pt;

    border-right: none;
}

.card>.content {
    font-family: sans-serif;
    font-size: 22pt;
    margin: 0 2pt 0 0;
    text-align: right;
}

.manyCards>.content {
    width: 0pt;
}

.result {
    display: inline-block;
    padding: 4pt 14pt;
    margin: 4pt 14pt;

    font-family: sans-serif;
    font-size: 14pt;
}

#card1-0 {
    background-image: url('../resources/card-batanimo-1a.png');
}

#card2-0 {
    background-image: url('../resources/card-batanimo-2a.png');
}

#card3-0 {
    background-image: url('../resources/card-batanimo-3a.png');
}

#card4-0 {
    background-image: url('../resources/card-batanimo-4a.png');
}

#card5-0 {
    background-image: url('../resources/card-batanimo-5a.png');
}

#card6-0 {
    background-image: url('../resources/card-batanimo-6a.png');
}