.DS_Store
.ftpauth
.firebaserc
node_modules
public

package.sh
package-war.sh

build

app/kierki

grunttasks/ftpPut.js
grunttasks/ftpPut.js.orig

dev/npmaudit

**/war.xcodeproj/project.xcworkspace/xcuserdata/*
**/war.xcodeproj/xcuserdata/*
war/MyPlayground.playground/playground.xcworkspace/xcuserdata/*
war/GoogleService-Info.plist
war-ios/war/resources

Pods
Podfile.lock

resources/logo.png