.DS_Store
.ftpauth
.firebaserc
node_modules
public

js/lib

grunttasks/ftpPut.js
grunttasks/ftpPut.js.orig

batanimal.xcodeproj/project.xcworkspace/xcuserdata/*
batanimal.xcworkspace/xcuserdata/*

batanimal/GoogleService-Info.plist

Pods
Podfile.lock
