.DS_Store
.ftpauth
.firebaserc
node_modules
public

package.sh
package-war.sh

build

app/kierki

grunttasks/ftpPut.js
grunttasks/ftpPut.js.orig

dev/npmaudit

batanimal.xcodeproj/project.xcworkspace/xcuserdata/*
batanimal.xcodeproj/xcuserdata/*
batanimal.xcworkspace/xcuserdata/*
batanimal/MyPlayground.playground/playground.xcworkspace/xcuserdata/*

batanimal/GoogleService-Info.plist

Pods
Podfile.lock

resources/logo.png